@using Microsoft.AspNetCore.Identity
@using Data.Models

@inject SignInManager<CinemaUser> SignInManager
@inject UserManager<CinemaUser> UserManager

    <ul class="navbar-nav visible">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <form id="watchList" class="form-inline" asp-controller="Films" asp-action="WatchList" method="get">
                    <button id="watchListBut" type="submit" class="nav-link btn btn-link text-dark">WatchList</button>
                </form>
            </li>
            <li class="nav-item">
                <form id="myTickets" class="form-inline" asp-controller="Tickets" asp-action="Index" method="get">
                    <button id="ticketsBut" type="submit" class="nav-link btn btn-link text-dark">Tickets</button>
                </form>
            </li>

            if (SignInManager.Context.User.IsInRole("Manager") || SignInManager.Context.User.IsInRole("Admin"))
            {
                var user = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
                if (user?.Cinema == null)
                {
                    <li class="nav-item">
                        <form id="addCinema" class="form-inline" asp-controller="Cinemas" asp-action="Add" method="get">
                            <button id="addCinemaBut" type="submit" class="nav-link btn btn-link text-dark">Add Cinema</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <form id="manageCinema" class="form-inline" asp-controller="Cinemas" asp-action="Manage" asp-route-id="@user?.Cinema?.Id" method="get">
                            <button id="addProjBut" type="submit" class="nav-link btn btn-link text-dark">Manage Cinema</button>
                        </form>
                    </li>
                }
            }
            <li class="nav-item">
                <form id="addFilm" class="form-inline" asp-controller="Films" asp-action="Add" method="get">
                    <button id="addFilmBut" type="submit" class="nav-link btn btn-link text-dark">Add film</button>
                </form>
            </li>

            <li class="nav-item">
                <form id="manage" class="form-inline" asp-area="Identity" asp-page="/Account/Manage/Index" method="get">
                    <button id="manageBut" type="submit" class="nav-link btn btn-link text-dark" title="Manage">@UserManager.GetUserName(User)</button>
                </form>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
