@model CinemaShare.Models.ViewModels.CinemaDataViewModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div class="content-heading clearfix media">
    <div style="margin-left:30px;">
        <h3 class="text-dark font-weight-bold">Name: @Model.Name</h3>
        <h5 class="text-dark ">Country: @Model.Country</h5>
        <h5 class="text-dark ">City: @Model.City</h5>
        <h5 class="text-dark ">Manager: @Model.Mananger</h5>
    </div>
</div>

