@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>
<hr />
<br />
<a asp-area="Admin" asp-action="Index" asp-controller="Films" class="m-3">Films administrate</a>
<br />
<a asp-area="Admin" asp-action="Index" asp-controller="Cinemas"class="m-3">Cinemas administrate</a>
<br />
<a asp-area="Admin" asp-action="Index" asp-controller="Projections" class="m-3">Projections administrate</a>