@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>
<hr />
<br />
<a asp-area="Admin" asp-action="Index" asp-controller="Films">Films administrate</a>
<br />
<a asp-area="Admin" asp-action="Index" asp-controller="Cinemas">Cinemas administrate</a>
<br />
<a asp-area="Admin" asp-action="Index" asp-controller="Projections">Projections administrate</a>